{% extends '::frontend.html.twig' %}

{% block content %}
    {% for documento in documentos %}
        {% if documento.archivo != null %}
        {% if loop.first %}
            <div class="row">
        {% elseif loop.index > 2 and (loop.index -1) is divisible by(3) %}
            <div class="row">
        {% endif %}

        <div  class="col-md-4 col-sm-4">

            <h2>{{ documento.titulo }}</h2>

            <p>{{ documento.resumen }}</p>
            <div>
                <a  href="{{ path('sonata_media_download', {'id': documento.archivo|sonata_urlsafeid }) }}"><div class="downloadicon" data-icon="k"><div class="downloadtext">Download</div></div></a>
            </div>

        </div>
        {% if loop.index is divisible by(3) or loop.last %}
            </div>
        {% endif %}
        {% endif %}
    {% endfor %}
{% endblock %}