{% extends '::frontend.html.twig' %}

{% block content %}
        <h1 class="text-center" style="color: #3C763D;">Términos y Condiciones</h1>
        <h4 style="color: #3C763D;" >Descargo de responsabilidad</h4>
        <p style="text-align: justify;">La informaci&oacute;n publicada en la Comunidad Virtual de Recursos Forestales (CVFORESTAL)
        se proporciona &quot;tal cual&quot; y &quot;seg&uacute;n est&eacute; disponible&quot;. No se aceptan reclamaciones,
        ni se ofrecen garant&iacute;as sobre la exactitud, integridad o autenticidad de la informaci&oacute;n que se comparte
        en esta plataforma. El Equipo de Trabajo de CVFORESTAL se reserva el derecho de modificar, limitar o desconectar cualquier
        parte de la plataforma a su discreci&oacute;n. El Equipo de Trabajo de CVFORESTAL no asume ninguna responsabilidad ante
        cualquier persona o entidad por cualquier p&eacute;rdida, da&ntilde;o, responsabilidad o gasto sufrido como resultado del
        uso de la informaci&oacute;n publicada en esta plataforma, incluyendo cualquier fallo, error, omisi&oacute;n,
        interrupci&oacute;n o retraso. La informaci&oacute;n se proporciona bas&aacute;ndose en que los miembros que acceden a la
        plataforma asuman la responsabilidad de evaluar la pertinencia y exactitud del contenido.</p>
        <h4 style="color: #3C763D">Derechos de autor</h4>
        <p style="text-align: justify;">El copyright
        del material disponible en la CVFORESTAL es propiedad del proveedor de informaci&oacute;n como individuo(s) o titular(es)
        de los derechos(s) originales. El equipo de la CVFORESTAL promueve la reutilizaci&oacute;n y redistribuci&oacute;n de la
        informaci&oacute;n publicada en la plataforma y, a menos que se indique lo contrario, los Miembros podr&aacute;n reutilizar
        y redistribuir dicho material para fines no comerciales, en consonancia con los objetivos de la CVFORESTAL sin solicitar
        permiso previo ni por escrito. Cuando la debida autorizaci&oacute;n para reutilizar y redistribuir el material sea requerida,
        los miembros deben obtener el permiso necesario de los titulares de los derechos correspondiente(s). Los miembros se
        comprometen a no publicar material protegido por leyes de propiedad intelectual, incluyendo derechos de autor, a no ser
        que posea los derechos o haya recibido todos los permisos necesarios para redistribuir tal material. Los miembros
        tambi&eacute;n pueden compartir recursos al proporcionar informaci&oacute;n a trav&eacute;s de enlaces, en cuyo caso,
        los derechos de autor corresponden a la fuente original y deben respetarse.</p>
        <h4 style="color: #3C763D">Control de Acceso</h4>
        <p Zstyle="text-align: justify;">El equipo de CVFORESTAL
        se reserva el derecho, a su discreci&oacute;n, de denegar el acceso de miembro / usuario a la plataforma, sin necesidad
        de previo aviso.</p>
{% endblock %}